<div class="container mt-5">
    <h3 class="text-center">รายชื่อสมาชิกในกลุ่ม</h3>
    <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชื่อเล่น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>6021207059</td>
                <td>ธิดาพร</td>
                <td>ประทุมนนท์</td>
                <td>อีดอก</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6021207060</td>
                <td>ปริวัตร</td>
                <td>สิงหเสม</td>
                <td>ซน</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>6021207027</td>
                <td>ธนวัฒน์</td>
                <td>ไตรรัตนาวิไล</td>
                <td>แมว</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>602127026</td>
                <td>ปัทมา</td>
                <td>สุหิตาวงษ์</td>
                <td>ปลา</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207022</td>
                <td>พรทิพย์</td>
                <td>ทิพย์พนาพันธุ์</td>
                <td>พร</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207031</td>
                <td>วรพัช</td>
                <td>ช่วยคุ้ม</td>
                <td>เคน</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207054</td>
                <td>ปชนัช</td>
                <td>จีนหลี</td>
                <td>ไอ</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207047</td>
                <td>ธนพจน์</td>
                <td>ทิพย์พนาพันธุ์</td>
                <td>โค้ด</td>
            </tr>
        </tbody>
    </table>
</div>